# Configuración de la aplicación
PORT=3000

# Conexión a la base de datos
DATABASE_URL="postgresql://username:password@localhost:5432/database_name?schema=public"
DIRECT_URL="postgresql://username:password@localhost:5432/database_name?schema=public"

RESEND_API_KEY="your_resend_api_key"

# Configuración de depuración
DEBUG=false
